@import url("fonts.css");


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "MTS text regular", arial, sans-serif;
}

input, button {
    background: none;
    border: none;
}

button:active {
    border: none;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.5fr 5fr;
    margin: 0;
    padding: 0;
}

.left-part, .right-part {
    /*height: 100%;*/
    padding: 30px;
}

.left-part {
    background: #8f8f8f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code-block {
    outline: 1px solid red;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-block {
    display: none;
}

.qr-code {
    border: 5px solid gray;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}




.right-part {
    background: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*position: relative;*/
}

.right-part > * {
    /*outline: 1px solid blue;*/
}


.tracks-queue {
    display: flex;
    flex-direction: column;
}

.queue-title {
    font-family: "MTS wide bold", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.track {
    font-family: "MTS wide regular", sans-serif;
    font-size: 0.9rem;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.38);
    display: flex;
}

.track-icon {
    color: rgb(255, 0, 0);
}

.track > * {
    margin: 10px;
}

.track-title {
    font-family: "MTS text regular", sans-serif;
}

.track-duration {
    margin-left: auto;
}






.upload-container {
    border: 2px dashed red;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    margin: auto;
    font-family: "MTS wide regular", sans-serif;
    transition: 0.1s ease-out;
}

.upload-container:hover {
    /*border-color: #2980b9;*/
    border: 5px solid red;
    /*border-radius: 0;*/
}

.upload-container input[type="file"] {
    display: none;
}

.upload-icon {
    font-size: 36px;
    color: red;
    margin-bottom: 10px;
}

.upload-text {
    color: #333;
}

.upload-container.dragover {
    border-color: #27ae60;
    background-color: #ecf0f1;
}




.player {
    font-family: "MTS wide regular", sans-serif;
    color: white;
    background: #333333;
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    height: 50px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*border: 1px solid blue;*/
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
}

.control-button {
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.control-button > svg {
    width: 100%;
    height: 100%;
}

.control-button:hover {
    background: #494949;
}

.text-and-seek {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 70%;
}

.seeker {
    margin: 0;
    padding: 0;
}

.sound-button {
    margin-right: 0;
}

.muted-icon {
    display: none;
}