<!-- templates/index_chat.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat with Flask and WebSocket</title>
</head>
<body>
    <ul id="chat">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <form action="" id="form" onsubmit="sendMessage(); return false;">
        <input type="text" id="message_input" autocomplete="off" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('new_message', function(data) {
            var chat = document.getElementById('chat');
            var newMessage = document.createElement('li');
            newMessage.textContent = data;
            chat.appendChild(newMessage);
        });

        function sendMessage() {
            var messageInput = document.getElementById('message_input');
            var message = messageInput.value;
            socket.emit('new_message', message);
            messageInput.value = '';
        }
    </script>
</body>
</html>
