<!-- templates/index_chat.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat with Flask and WebSocket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
</head>
<body>
    {% for track in room.queue %}

        <audio src="static/music/{{ track }}" id="Player"></audio>
        <div>
            <button class="control-button play-button" onclick="requestPlay()">Play</button>
            <button class="control-button pause-button" onclick="requestPause()">Pause</button>
            <button class="control-button stop-button" onclick="requestStop()">Stop</button>
            <input class="control-button seeker" id="seeker" type="range" value="0" max="1000" step="1" oninput="requestSeek()">
        </div>

    {% endfor %}
    <ul id="chat">
        {% for message in room.messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <form action="" id="form" onsubmit="sendMessage(); return false;">
        <input type="text" id="message_input" autocomplete="off" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>#}
{#    <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>#}
</body>
</html>
